@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
	--color-negro:#282d33;
	--menu-hover:#ec3642;
	--color-rojo:#ec3642;
	--fondo-header:#212121;
	--fondo-footer:#212121;
	--color-footer:#ccc;
}

body{
	background-color: #252525;
	font-size: 14px;
font-family: 'Catamaran', sans-serif;
}

.titulos{
font-family: 'Catamaran', sans-serif;
}

header{
	background-color: var(--fondo-header);
}
footer{
	background-color: var(--fondo-footer);
	color: var(--color-footer);
	padding: 20px 0;
}
footer p{
	margin-bottom: 5px;
}
footer span{
	color: var(--color-rojo);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

footer .container {
  text-align: center;
}
footer .row {
  justify-content: center;
}
body {
  font-family: 'Catamaran', sans-serif;
}

#intro .intro-column {
  background-color: #282d33;
  color: #fff;
  padding-left: 20px; 
  margin-right: 10px;
}

#intro h3 {
  border-bottom: 1px solid #fff; 
  padding-bottom: 10px; 
}

#intro .btn {
  display: inline-block;
  background-color: #ec3642; 
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

#intro .btn:hover {
  background-color: #ec3642;
  color: #fff;
}

#intro img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

#heroslides .carousel-caption {
  text-align: left; /* Alineación de texto a la izquierda */
}

#heroslides .carousel-caption h5 {
  border: 2px solid #fff;
  display: inline-block; 
  padding: 10px 20px;
}

#heroslides .carousel-caption h1 {
  font-weight: bold; 
  font-size: 2.5rem; 
}

#heroslides .carousel-caption a.btn {
  background-color: #ec3642; 
  color: #fff;
}







.about-column {
	background:#000000;
}


.cta {
    position: relative;
    text-align: left;
    height: 400px; 
    overflow: hidden;
    background-color: #ec3642; 
  }

  .bg-parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('"../img/bg-parallax.png"');
    background-size: cover;
    background-position: center;
    opacity: 50%; 
  }

  .cta-content {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 100px 0 100px 50px; 
  }

  .cta-content h2 {
    font-size: 32px;  margin-bottom: 20px; 
  }

  .cta-content p {
    font-size: 18px; 
    margin-bottom: 20px;
  }

  .cta-content button {
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px; 
    border-radius: 4px;
    cursor: pointer;
  }
</style>

#products {
  background-color: #282d33;
  color: #ffffff;
  padding: 40px;
}

#products .title-box {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px;
}

#products .title-container {
  display: inline-block;
  padding: 10px;
  border: 2px solid #ffffff;
}

#products .title-container h4 {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
}

#products .card {
  background-color: #000000;
  color: #ffffff;

}

#products .card img {
  max-width: 100%;
  height: auto;
}

#products .card-body {
  padding: 20px;
}

#products .card-body h4 {
  margin-top: 0;
  font-size: 18px;
}

#products .card-body h5 {
  margin-bottom: 0;
  font-size: 16px;
}






